* {
  margin: 0px;
  padding: 0px;
}


body {
  background-color: black;
}

h1 {
  color: darkgrey;
  font-family: helvetica;
  font-size: 200%;
  padding: 10px;
}

#quoteDisplay {
  color: white;
  font-family: helvetica;
  font-size: 100%;
  position:absolute;
  top: 70px;
  left: 150px;
}

.button {
  position:absolute;
  left: 10px;
  background-color: white;
  font-family: helvetica;
  font-size: 80%;
  border-radius: 8px;
  color: black;
  padding: 15px 30px;
  border: none;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  background-color: #FFC43D;
}

.car-foreground {
    position:absolute;
    top: 120px;
    left: 10px;
    z-index: 3;
}

#car-color {
  position:absolute;
  background:green;
  top: 120px;
  left: 10px;
  height: 591px;
  width: 981px;
  mix-blend-mode: darken;
  z-index: 2;
}

.car-background {
    position:absolute;
    top: 120px;
    left: 10px;
    z-index: 1;
}
