* {
  margin: 0px;
  padding: 0px;
}


body {
  background-color: black;
}

h1 {
  color: darkgrey;
  font-family: helvetica;
  font-size: 200%;
  padding: 10px;
}

.car-foreground {
    position:absolute;
    top: 100px;
    left: 10px;
    z-index: 3;
}

.car-color {
  position:absolute;
  top: 100px;
  left: 10px;
  background-color: blue;
  height: 591px;
  width: 981px;
  mix-blend-mode: darken;
  z-index: 2;
}

.car-background {
    position:absolute;
    top: 100px;
    left: 10px;
    z-index: 1;
}
